
<% @categories.each do |category| %>
<div class="category-box">
<p><strong><%= category.name%> </strong></p>
<% category.subcategories.limit(10).each do |subcategory|%>
<p><%= subcategory.name%></p>
<%end%>
</div>
<%end%>
